* {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

td {
    background-color: #ccc;
    padding: 10px 30px 10px 30px;
    border-radius: 0.2em;
    text-align: center;
    cursor: default;
}

#result {
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px 30px 10px 30px;
    text-align: right;
}

.console-log-div {
    width: 95% !important;
    background-color: #efefef;
}

#log {
    margin: 10px 0px;
    display: block;
    white-space: pre;
    font-family: monospace;
}

#log:before {
    content: "log javascript:";
    font-style: italic;
    color: #555;
}

#console-log-div {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20vw !important;
    height: calc(100vh - 96px);
    white-space: pre-line !important;
}

#console-log-text {
    overflow-y: auto;
    height: 100%;
    font-size: 0.8rem;
    background-color: #202124;
    border-radius: 3px;
}

#console-log-text > div {
    color: #ffffff;
    font-size: 18px !important;
}

#console-input {
    position: absolute;
    top: calc(100vh - 70px);
    right: 0px;
    width: calc(20vw - 22px);
    height: 1.5rem;
    padding-left: 32px !important;
}

.console-input {
    position: absolute;
    top: calc(100vh - 43px);
    right: 20vw;
    z-index: 999;
}

*:focus {
    outline: none;
}

.warn {
    padding: 5px;
    color: #f2ab26;
    background-color: #332b00;
    border: 1px solid #665500;
}

.error {
    padding: 5px;
    color: #ff8080;
    background-color: #290000;
    border: 1px solid #5c0000;
}

.info {
    padding: 5px;
    color: #e8eaed;
    border: 1px solid #3a3a3a;
}

svg {
    border: 1px solid #000000;
}

.canvas-container {
    position: absolute !important;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    border: 1px solid #000000;
}

progress {
    margin-top: -8px;
}
progress {
    width: 100px;
    padding: 5px;
}

#GamepadValues {
    padding-top: 15px;
}

#Game {
    position: absolute;
    top: 115px;
    left: 120px;
}